/*-- scss:defaults --*/
$presentation-h1-font-size: 3em;
$modal-footer-bg: red;
$presentation-font-size-root: 40px;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size: 1.15em;
$link-color: red !default;
$footer-bg: #75AADB;
$modal-footer-bg: red;


.title {
  font-size: 100px !important;
  color: white !important;
}

.author {
  font-size: 100px;
}

.date {
  font-size: 30px;
}

/*-- scss:rules --*/

.observablehq {
  font-size:20px;
}




.sourceCode {
  font-size:20px;
}

.reveal .footer {
background-color: white;
padding:0px;
opacity: 1;
}

.reveal .header {
  text-align: center;
background-color: white;
color: black;
padding:0px;
opacity: 1;
}

section.slide h2 {
  font-size: 35px !important;
  color: white !important;
  background-color: #E63F33 !important;
  width: 200vw;
  position: relative;
  left: -20vw;
  padding-left: 20vw;
  padding-top: 0px;
  padding-bottom: 5px;
}





